{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
  <h1 class="text-center">Welcome to My Shop</h1>
  <div class="row mt-4">
      <br>
    <div class="col-md-6">
      <h2>Featured Products</h2>
      <ul>
        <li>Potatoes</li>
        <li>Carrots</li>
        <li>Broccoli</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod enim eu neque tincidunt, vel laoreet magna malesuada.</p>
    </div>
  </div>
</div>
{% endblock %}
